<h1>New Message</h1>

<table>
  <tr>
    <td>Name</td>
    <td>
      <%= @inquiry.name %>
    </td>
  </tr>

  <tr>
    <td>Email</td>
    <td>
      <%= @inquiry.email %>
    </td>
  </tr>

  <tr>
    <td>Phone</td>
    <td>
      <%= @inquiry.phone %>
    </td>
  </tr>

  <tr>
    <td>Message</td>
    <td>
      <%= @inquiry.message %>
    </td>
  </tr>
</table>