<%= render Spina::UserInterface::HeaderComponent.new do |header| %>
  <% header.navigation do %>
    <nav class="-mb-3 mt-4">
      <ul class="inline-flex w-auto rounded-md bg-white">
        <%= render Spina::UserInterface::TabLinkComponent.new("Emails", spina.admin_inquiries_path,
          active: action_name == "index"
        ) %>

        <%= render Spina::UserInterface::TabLinkComponent.new("Read", spina.read_admin_inquiries_path,
          active: action_name == "read"
        ) %>
      </ul>
    </nav>
  <% end %>
<% end %>

<div class="p-8">
  <% if @inquiries.any? %>
    <div class="shadow-sm border border-gray-200 bg-white rounded-lg">
      <%= render partial: "inquiry", collection: @inquiries, as: :inquiry %>
    </div>
  <% else %>
    <div class="text-gray-700 italic">
      There are no inquiries yet.
    </div>
  <% end %>
</div>