%li{ class: ('active' if current_admin_path.start_with?('/clients')) }
  = link_to spina.admin_clients_path do
    %i.icon.icon-mail-outline
    = plugin.name
    %small Here's were you'll find all of the clients from your website
